<h3 class="text-center">Contacts</h3>
<div><i class="fa fa-envelope-open" aria-hidden="true"></i>&nbsp;{{mail}}</div>
<div><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;{{mobile}}</div>
<div><i class="fa fa-skype" aria-hidden="true"></i>&nbsp;{{skype}}</div>
<div><a [href]="facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;add me on facebook</div>
<div><a [href]="linkedin" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;or view my Linkedin profile</div>


