.main {
  background-color: aliceblue;
}
.main {
  height: 100vh;
}

.vertical-align {
  display: flex;
  align-items: center;
}
.my-carousel {
  margin-top: 15px;
}
.carousel-item {
  width: auto;
  height: 300px;
}

.footer {
  position: fixed;
  background-color: black;
  color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin: 0 -15px;
}




