.main {
  background-color: aliceblue;
}
.main {}

.vertical-align {
  display: flex;
  align-items: center;
}
.my-carousel {
  margin-top: 15px;
}
.carousel-item {
  width: auto;
  height: 300px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 50px -15px 0;

}




