.main {
  background-color: aliceblue;
}
.main {
  height: 100vh;
  text-align: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

span {
  position: absolute;
  bottom: 0;
}

@media (max-width: 600px) {
  .menu {
    height: auto;
    display: block;
    clear: both;
    width: 100%;
  }
  .content {
    display: block;
    width: 100%;
  }
}


