/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/images/chuck-norris.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
