body {
  background-image: url('assets/images/back1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (max-width: 1000px) {
  #carouselExampleControls {
    display: none;
  }
}
@media (max-width: 765px) {
  app-menu {
    margin: 0 auto;
  }
  #menu {
    text-align: center;
    display: flex !important;
    flex-direction: row !important;
    font-size: 0.75em;
  }
  .nav-link {
    display: inline !important;
  }

}
@media (max-width: 350px) {
  .main {
    font-size: 0.8em;
  }
  .header h1  {
    font-size: 150%;
  }
  #menu {
    display: flex !important;
    flex-direction: column !important;
    font-size: 0.75em;
  }
}
